html {
  min-height: 100%;
  background-color: #AED6F1;
}
body {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'PT Sans', sans-serif;
  background-color: #AED6F1;
}

h1 {
  font-family: 'PT Sans', sans-serif;
}

.gallery{
	width: 95%;
	border: 2px solid black;
	margin:0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
}

.gallery img{
	width: 100%;
}

.thumbnail img{
	width: 100%;
}

.item{
	border: 2px solid black;
}